html{
    font-family:Georgia,"Times New Roman","Microsoft YaHei","微软雅黑",STXihei,"华文细黑",serif;
    font-size:14px;
}
.wrapper{
    padding: 0 20px;
}
.item-head.header{
    margin-top:5px;
}

h2{
    margin: 2em 0 0;
    font-size:2em;
}
h2 + h3.item-head{
    border-top: 0;
    margin-top: 5px;
}
.item-head{
    font-size: 14px;
    padding-top: 20px;
    margin-top: 40px;
    position:relative;
}
.item-head:before{
    content: " ";
    display: block;
    font-size: 0;
    width: 100%;
    height: 1px;
    position: absolute;
    top: -3px;
    border-top: 2px solid #ebecee;
}

.item-head.header:before{
    border-style:none;
}

.item-head .name,.item-head .type{
    display:inline-block;
    padding-right:10px;
}
.item-head .name{
    font-size:1.2em;
    font-weight:bold;
}
.item-head .type{
    color: #2e516e;
    font-style: italic;
    font-size:1em;
}
.item-body{
    margin:20px 0;
}