.user-not-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@keyframes left2right {
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-moz-keyframes left2right {
  /* Firefox */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-webkit-keyframes left2right {
  /* Safari 和 Chrome */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-o-keyframes left2right {
  /* Opera */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
.button {
  background: #FFF;
  color: #666666;
  text-align: center;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  border: 1px solid #c8c8c8;
  cursor: pointer;
  list-style: none outside none;
  min-width: 60px;
  margin: 2px 0;
  padding: 0 5px;
  font-size: 12px;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.button:hover {
  border-color: #494949;
}
.button:active {
  color: #ffffff;
  background: #4f7fe8;
  -webkit-box-shadow: inset 0px 1px 1px #4f7fe8, 0px 1px 0px #4f7fe8;
  -moz-box-shadow: inset 0px 1px 1px #4f7fe8, 0px 1px 0px #4f7fe8;
  box-shadow: inset 0px 1px 1px #4f7fe8, 0px 1px 0px #4f7fe8;
  border-color: #184bb9;
}
.button.disabled {
  cursor: inherit;
  background: #f2f2f2;
  color: #a5a5a5;
}
.button.disabled:hover {
  border-color: #c8c8c8;
}
.button.disabled:active {
  background: #f2f2f2;
  color: #a5a5a5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #c8c8c8;
}
.button .icon {
  font-size: 1.2em;
  margin-right: 5px;
}

/**
 * zhouzy
 *
 * 2015/4/8
 *
 */
.content-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.content-loader iframe {
  width: 100%;
  height: 100%;
}

.user-not-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@keyframes left2right {
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-moz-keyframes left2right {
  /* Firefox */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-webkit-keyframes left2right {
  /* Safari 和 Chrome */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-o-keyframes left2right {
  /* Opera */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
.datagrid .grid-body .table .td-content .btn {
  padding: 3px 5px;
}
.datagrid .grid-body .table .td-content .btn span {
  margin-right: 2px;
}

.user-not-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@keyframes left2right {
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-moz-keyframes left2right {
  /* Firefox */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-webkit-keyframes left2right {
  /* Safari 和 Chrome */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-o-keyframes left2right {
  /* Opera */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
.grid {
  color: #666666;
  position: relative;
  overflow: hidden;
}
.grid .title {
  padding-left: 4px;
  font-size: 1.2em;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #c8c8c8;
  background: #f5f7fa;
}
.grid table {
  width: 100%;
  position: relative;
  margin: 0;
  border-width: 0;
  display: table;
  table-layout: fixed;
}
.grid table tr td {
  height: 40px;
  padding: 2px 4px;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  text-overflow: ellipsis;
}
.grid table tr td:first-child {
  border-left-width: 0;
}
.grid table tr td.line-number {
  text-align: center;
}
.grid table tr td:last-child {
  border-right: none;
}
.grid table tr td input {
  vertical-align: middle;
}
.grid table tr td .td-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
.grid table tr td .td-content .filter-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -6px;
  color: #888;
}
.grid table tr td .td-content .filter-icon:hover {
  color: #000;
}
.grid .grid-view {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow-x: hidden;
}
.grid .grid-head {
  cursor: pointer;
  background: #fff;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.grid .grid-head .grid-head-wrap {
  overflow: hidden;
}
.grid .grid-head td {
  border-top: 0;
  border-bottom: 0;
}
.grid .grid-head td.line-number div:before {
  content: "#";
}
.grid .grid-head td.line-number .empty {
  display: inline-block;
  width: 13px;
}
.grid .grid-head td div {
  display: inline-block;
}
.grid .grid-head td .drag-line {
  position: absolute;
  right: -5px;
  width: 10px;
  height: 24px;
}
.grid .grid-head td .drag-line:hover {
  cursor: e-resize;
}
.grid .grid-body {
  position: relative;
  overflow: auto;
}
.grid .grid-body table {
  height: auto;
}
.grid .grid-body tr:first-child td {
  border-top: none;
}
.grid .grid-body tr.selected td {
  color: #FFF;
  background: #4f7fe8;
}
.grid .loading {
  height: 310px;
  background-color: #bdbdbd;
}
.grid .loading .loadingIcon {
  color: #666666;
  font-size: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.grid .grid-filter {
  background: #fff;
  display: none;
  position: absolute;
  border: 1px solid #c8c8c8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  min-width: 100px;
  z-index: 99999;
  margin-left: -110px;
  margin-top: 20px;
}
.grid .grid-filter li {
  margin-bottom: 5px;
  height: 20px;
  line-height: 20px;
}
.grid .grid-filter li.footer {
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.grid .panel-footer {
  padding: 5px;
  text-align: right;
}

.user-not-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@keyframes left2right {
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-moz-keyframes left2right {
  /* Firefox */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-webkit-keyframes left2right {
  /* Safari 和 Chrome */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-o-keyframes left2right {
  /* Opera */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
.cri-form-group {
  margin-bottom: 5px!important;
  word-spacing: normal;
  font-size: 0;
}
.cri-form-group .control-label {
  font-size: 12px;
}
.cri-form-group label.control-label {
  width: 100px;
  padding-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
  vertical-align: top;
  padding-top: 5px;
}
.cri-form-group > .input-group,
.cri-form-group > .form-control {
  width: calc(100% - 100px);
  display: inline-block;
}
.cri-form-group > .input-group {
  display: table;
  float: right;
}
.cri-form-group > .input-group .input-group-btn {
  width: 30px;
}
.cri-form-group > .input-group .input-group-btn button {
  width: 30px;
  padding-top: 4px;
  height: 30px;
}
.cri-form-group .radio {
  font-size: 12px;
}
.cri-form-group label {
  font-size: 12px;
}
.cri-form-group input[type=checkbox],
.cri-form-group input[type-radio] {
  font-size: 14px;
}
.cri-input-group {
  position: relative;
}
.cri-input-group .cri-input-group__input {
  padding: 5px;
  height: 30px;
  border-radius: 3px;
}
.cri-input-group .cri-input-group__btn {
  height: 30px;
  padding: 5px;
}
.cri-number-input__btn-group.input-group-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 24px;
  white-space: normal;
  font-size: 12px;
  z-index: 10;
  padding: 0;
}
.cri-number-input__btn-group.input-group-btn .cri-number-input__btn__top,
.cri-number-input__btn-group.input-group-btn .cri-number-input__btn__bottom {
  display: inline-block;
  height: 50%;
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: #444;
  cursor: pointer;
}
.cri-number-input__btn-group.input-group-btn .cri-number-input__btn__top i,
.cri-number-input__btn-group.input-group-btn .cri-number-input__btn__bottom i {
  position: relative;
}
.cri-number-input__btn-group.input-group-btn .cri-number-input__btn__top i {
  top: 4px;
}
.cri-number-input__btn-group.input-group-btn .cri-number-input__btn__bottom i {
  top: -4px;
}
.cri-number-input__input {
  padding-right: 24px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.user-not-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@keyframes left2right {
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-moz-keyframes left2right {
  /* Firefox */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-webkit-keyframes left2right {
  /* Safari 和 Chrome */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-o-keyframes left2right {
  /* Opera */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
.notification {
  position: fixed;
  z-index: 30000;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  display: none;
  background: rgba(51, 51, 51, 0.8);
}
.notification .icon {
  font-size: 20px;
  display: inline-block;
  position: absolute;
  left: 50px;
  top: 15px;
}
.notification .message {
  color: #f0f0f0;
  font-weight: bolder;
  display: inline-block;
  position: absolute;
  height: 16px;
  line-height: 16px;
  left: 70px;
  top: 16px;
  vertical-align: top;
}
.notification .btn {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 16px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.notification .btn:hover {
  background: #fff;
  color: rgba(51, 51, 51, 0.8);
}
.notification.error {
  border-top: 5px solid #de3163;
}
.notification.error .icon {
  color: #de3163;
}
.notification.warming {
  border-top: 5px solid #e9f01d;
}
.notification.warming .icon {
  color: #e9f01d;
}
.notification.success {
  border-top: 5px solid #008573;
}
.notification.success .icon {
  color: #008573;
}

.user-not-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@keyframes left2right {
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-moz-keyframes left2right {
  /* Firefox */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-webkit-keyframes left2right {
  /* Safari 和 Chrome */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-o-keyframes left2right {
  /* Opera */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
.pagination {
  margin: 0;
}

.user-not-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@keyframes left2right {
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-moz-keyframes left2right {
  /* Firefox */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-webkit-keyframes left2right {
  /* Safari 和 Chrome */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-o-keyframes left2right {
  /* Opera */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
.selectBox-group .form-control-static {
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}
.options {
  position: absolute;
  z-index: 30000;
  font-size: 12px;
  max-height: 0;
  transition: max-height ease 0.2s;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  overflow: auto;
  margin: 0;
}
.options.open {
  max-height: 300px;
}
.options li.selected {
  background: #4f7fe8;
  color: #fff;
}
.list-group-item {
  padding: 5px 15px;
  height: 30px;
  line-height: 30px;
}
.list-group-item:hover {
  background: #f2f2f2;
}

/**
 * zhouzy
 *
 * 2014/12/26
 *
 */
.user-not-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@keyframes left2right {
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-moz-keyframes left2right {
  /* Firefox */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-webkit-keyframes left2right {
  /* Safari 和 Chrome */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-o-keyframes left2right {
  /* Opera */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
.tabPage-group {
  position: relative;
  width: 100%;
  height: 400px;
}
.tabPage-group .tabPage-header {
  position: absolute;
  left: 0;
  right: 0;
  background: #444;
  height: 35px;
  color: #bebebe;
}
.tabPage-group .tabPage-header .tabPage-header-leftBtn,
.tabPage-group .tabPage-header .tabPage-header-rightBtn {
  text-align: center;
  color: #fff;
  position: absolute;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  width: 24px;
  cursor: pointer;
  top: 0;
}
.tabPage-group .tabPage-header .tabPage-header-leftBtn:hover,
.tabPage-group .tabPage-header .tabPage-header-rightBtn:hover {
  color: #fff;
  font-size: 16px;
}
.tabPage-group .tabPage-header .tabPage-header-leftBtn {
  left: 0;
  border-right: 1px solid #8c8c8c;
}
.tabPage-group .tabPage-header .tabPage-header-rightBtn {
  right: 0;
  border-left: 1px solid #8c8c8c;
}
.tabPage-group .tabPage-header.shift {
  padding: 0 25px;
}
.tabPage-group .tabPage-header .tabPage-header-tabs-wrap {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.tabPage-group .tabPage-header .tabPage-header-tabs-wrap .tabPage-header-tabs {
  position: absolute;
  left: 0;
  font-size: 0;
}
.tabPage-group .tabPage-header .tabPage-header-tabs-wrap .tabPage-header-tabs .tabPage-header-tab {
  position: relative;
  text-align: center;
  font-size: 12px;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  width: 130px;
  padding-right: 20px;
  overflow: hidden;
  cursor: pointer;
}
.tabPage-group .tabPage-header .tabPage-header-tabs-wrap .tabPage-header-tabs .tabPage-header-tab .tabPage-header-tab-close {
  font-size: 12px;
  position: absolute;
  right: 2px;
  top: 50%;
  width: 16px;
  height: 16px;
  margin-top: -9px;
  line-height: 16px;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  display: none;
}
.tabPage-group .tabPage-header .tabPage-header-tabs-wrap .tabPage-header-tabs .tabPage-header-tab .tabPage-header-tab-close:hover {
  background: #bd1f5c;
}
.tabPage-group .tabPage-header .tabPage-header-tabs-wrap .tabPage-header-tabs .tabPage-header-tab:hover {
  color: #fff;
}
.tabPage-group .tabPage-header .tabPage-header-tabs-wrap .tabPage-header-tabs .tabPage-header-tab:hover .tabPage-header-tab-close {
  display: inline-block;
}
.tabPage-group .tabPage-header .tabPage-header-tabs-wrap .tabPage-header-tabs .selected {
  color: #fff;
  background: #0000cf;
}
.tabPage-group .tabPage-body {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.tabPage-group .tabPage-body iframe {
  width: 100%;
  height: 100%;
}

.user-not-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@keyframes left2right {
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-moz-keyframes left2right {
  /* Firefox */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-webkit-keyframes left2right {
  /* Safari 和 Chrome */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-o-keyframes left2right {
  /* Opera */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
.time-input-group.input-group .form-control {
  padding-right: 0;
}
.time-input-group.input-group .input-group-btn {
  background: #fff;
}
.time-input-group.input-group .input-group-btn .btn:focus {
  outline: none;
  box-shadow: none;
}
.time-box {
  border: 1px solid #c8c8c8;
  box-shadow: 0 2px 4px 1px rgba(230, 220, 230, 0.8);
  -moz-box-shadow: 0 2px 4px 1px rgba(230, 220, 230, 0.8);
  -webkit-box-shadow: 0 2px 4px 1px rgba(230, 220, 230, 0.8);
  background: #fff;
  border-radius: 0 0 5px 5px;
  position: absolute;
  left: 80px;
  z-index: 20004;
  width: 260px;
  display: none;
  padding-top: 5px;
  font-size: 12px;
}
.time-box .form-inline {
  padding-left: 5px;
  padding-right: 5px;
}
.time-box .year-box {
  width: 40%;
  font-size: 12px;
}
.time-box input,
.time-box select {
  text-align: center;
}
.time-box input:focus,
.time-box select:focus {
  outline: none;
  box-shadow: none;
}
.time-box .input-group-btn .btn {
  margin-bottom: 0;
}
.time-box .month-box {
  display: inline-block;
  width: 58%;
  vertical-align: top;
  text-align: right;
}
.time-box .month-box .cri-select {
  height: 30px;
  padding: 0;
  border-radius: 0px;
  min-width: 50px;
}
.time-box table {
  width: 100%;
  font-size: 12px;
  -moz-user-select: none;
  user-select: none;
}
.time-box table tr {
  height: 20px;
}
.time-box table tr > td:hover .day-content {
  background: #a3a3a3;
  background-clip: content-box;
  color: #fff;
}
.time-box table th {
  cursor: default;
}
.time-box table td {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
.time-box table td .day-content {
  font-size: 12px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.time-box table table td.choosed .day-content {
  color: #fff;
  background-color: #4f7fe8;
  background-clip: content-box;
}
.time-box .hms-bar .col-sm-4 {
  padding: 0;
}
.time-box .hms-bar .form-group.form-group-sm {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
.time-box .hms-bar .form-group {
  display: inline-block;
  font-size: 12px;
}
.time-box .hms-bar .form-group .col-sm-8 {
  width: 100%;
  padding: 0;
}
.time-box .hms-bar .form-group .input-group {
  width: 100%;
  padding-right: 5px;
  padding-left: 0;
}
.time-box .hms-bar .form-group .input-group .input-group-addon {
  padding-left: 2px;
  padding-right: 2px;
  height: 30px;
  font-size: 12px;
  width: 20px;
}
.time-box .hms-bar .form-group .input-group .form-control {
  height: 30px;
  padding: 0;
}
.time-box .hms-bar .form-group .input-group .form-control.cri-number-input__input {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.time-box .hms-bar .form-group .input-group .input-group-btn.btn-group-vertical {
  height: 30px;
}
.time-box .hms-bar .form-group .input-group .input-group-btn.btn-group-vertical .top,
.time-box .hms-bar .form-group .input-group .input-group-btn.btn-group-vertical .bottom {
  height: 15px;
  width: 20px;
  padding: 0;
}
.time-box .hms-bar .form-group .input-group .input-group-btn {
  padding: 0 2px;
}
.time-box .hms-bar .form-group:last-child.input-group {
  padding-right: 0;
}
.cri-time-box-input-group {
  display: inline-block;
  position: relative;
  width: 100px;
}
.cri-time-box-input-group .cri-time-box-input-group__input {
  padding: 5px 30px;
  height: 30px;
  outline: none;
  -webkit-appearance: none;
  box-shadow: none;
  border: 1px solid #8b8b8b;
  width: 100%;
}
.cri-time-box-input-group .cri-time-box-input-group__btn {
  height: 30px;
  width: 24px;
  padding: 5px;
  position: absolute;
  background: #8b8b8b;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.cri-time-box-input-group .cri-time-box-input-group__btn:first-child {
  top: 0;
  left: 0;
}
.cri-time-box-input-group .cri-time-box-input-group__btn:last-child {
  top: 0;
  right: 0;
}

.user-not-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@keyframes left2right {
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-moz-keyframes left2right {
  /* Firefox */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-webkit-keyframes left2right {
  /* Safari 和 Chrome */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-o-keyframes left2right {
  /* Opera */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
.toolbar {
  padding: 5px;
  margin-left: 0;
}
.toolbar .btn {
  min-width: 60px;
  margin-left: 0;
  margin-right: 5px;
}
.toolbar .btn i {
  margin-right: 5px;
}

.user-not-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@keyframes left2right {
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-moz-keyframes left2right {
  /* Firefox */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-webkit-keyframes left2right {
  /* Safari 和 Chrome */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-o-keyframes left2right {
  /* Opera */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
.tree {
  color: #666666;
}
.tree ul {
  list-style: none;
  padding-left: 0;
}
.tree .tree-view {
  padding: 0;
  overflow: auto;
}
.tree .tree-body {
  color: #666666;
  position: relative;
  margin: 0;
  padding: 0;
}
.tree .tree-body li {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.tree .tree-body li .li-content {
  height: 32px;
  padding: 3px 0 3px 8px;
  line-height: 24px;
  vertical-align: top;
  cursor: pointer;
  border: 1px solid #c8c8c8;
  margin: 3px;
  position: relative;
  transition: all 0.1s;
}
.tree .tree-body li .li-content:hover {
  background: #eeeeee;
}
.tree .tree-body li .li-content:hover:before {
  content: " ";
  position: absolute;
  display: inline-block;
  width: 5px;
  height: 32px;
  top: -1px;
  left: -1px;
  background: #5cb85c;
}
.tree .tree-body li .li-content.selected {
  background: #4f7fe8;
}
.tree .tree-body li .li-content .icon {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  vertical-align: top;
  width: 12px;
  margin-right: 5px;
}
.tree .tree-body li .li-content .icon:hover {
  cursor: pointer;
}
.tree .tree-body li input {
  vertical-align: middle;
}

.user-not-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@keyframes left2right {
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-moz-keyframes left2right {
  /* Firefox */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-webkit-keyframes left2right {
  /* Safari 和 Chrome */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-o-keyframes left2right {
  /* Opera */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
.treegrid table td.line-file-icon i {
  cursor: pointer;
  color: #858585;
  margin-right: 5px;
}
.treegrid .grid-body tr {
  background-color: #FFF;
}
.treegrid .grid-body tr td {
  border-bottom: 1px solid #c8c8c8;
}
.treegrid .grid-body tr:hover td {
  background: #eeeeee;
}
.treegrid .grid-body tr:hover td.line-file-icon i {
  color: #ffffff;
}

.user-not-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@keyframes left2right {
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-moz-keyframes left2right {
  /* Firefox */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-webkit-keyframes left2right {
  /* Safari 和 Chrome */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
@-o-keyframes left2right {
  /* Opera */
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 5px;
  }
}
.window {
  color: #666666;
  display: inline-block;
  position: fixed;
  z-index: 10001;
  min-width: 140px;
  min-height: 35px;
  top: 5px;
  left: 5px;
  margin-bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.window.will-change {
  will-change: left,top,right,bottom;
}
.window.modal-window {
  background: rgba(220, 220, 220, 0.8);
  z-index: 10000;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.window.modal-window .panel {
  position: fixed;
  z-index: 100001;
}
.window.modal-window.center {
  transform: translate(0, 0);
}
.window.modal-window.center .panel {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.window .window-head {
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  padding-right: 200px;
  height: 45px;
}
.window .window-head .title {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}
.window .window-head .actions {
  position: absolute;
  right: 15px;
  top: 5px;
  display: inline-block;
}
.window .window-head .actions .action {
  display: inline-block;
  cursor: pointer;
  line-height: 35px;
  height: 35px;
  width: 25px;
  text-align: center;
  font-size: 14px;
}
.window .window-head .actions .action:hover i {
  color: #4f7fe8;
}
.window .window-head .actions .action i {
  color: #555555;
}
.window .window-head .actions .action.close {
  float: none;
  color: #727272;
  opacity: 0.5;
}
.window .window-head .actions .action.close:hover {
  opacity: 1;
}
.window .window-content {
  overflow: auto;
  height: calc(100% - 45px);
  position: relative;
}
.window .window-resizer {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  font-size: 0;
  line-height: 6px;
  filter: alpha(opacity=0);
  opacity: 0;
  zoom: 1;
}
.window .window-resizer-n {
  top: -3px;
  left: 0;
  width: 100%;
  height: 6px;
  cursor: n-resize;
}
.window .window-resizer-e {
  top: 0;
  right: -3px;
  width: 6px;
  height: 100%;
  cursor: e-resize;
}
.window .window-resizer-s {
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 6px;
  cursor: s-resize;
}
.window .window-resizer-w {
  top: 0;
  left: -3px;
  width: 6px;
  height: 100%;
  cursor: w-resize;
}
.window .window-resizer-se {
  bottom: -3px;
  right: -3px;
  width: 16px;
  height: 16px;
  cursor: se-resize;
}
.window .window-resizer-sw {
  bottom: -3px;
  left: -3px;
  width: 6px;
  height: 6px;
  cursor: sw-resize;
}
.window .window-resizer-ne {
  top: -3px;
  right: -3px;
  width: 6px;
  height: 6px;
  cursor: ne-resize;
}
.window .window-resizer-nw {
  top: -3px;
  left: -3px;
  width: 6px;
  height: 6px;
  cursor: nw-resize;
}
.window .loading {
  height: 100%;
  background-color: #a3a3a3;
}
.window .loading .loadingIcon {
  color: #666666;
  font-size: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.mini-window {
  bottom: 2px !important;
  top: auto !important;
  width: 140px !important;
  height: 0 !important;
}
.maxi-window {
  bottom: 2px !important;
  top: 0 !important;
  right: 2px !important;
  left: 0 !important;
  width: auto !important;
  height: auto !important;
}
