@color-tree-content-bg: rgba(200,200,200,0.8);
@color-tree-content-border:rgba(0,0,0,0.1);
@color-background: rgba(227,227,227,0.8);
@color-font:#666;
@color-font-yellow: #fff0af;
@color-font-blue:#4fa7e3;
@color-border: #c5c5c5;
@color-pager-nav:#8590a0;
@color-pager-selected: #489ae3;
@color-row-hover: #cee9f8;
@color-row-click: #cce3b6;
@color-line-file-icon: #858585;
@color-button-hover: #575757;
@color-button-icon: #55677a;
@color-toolbar-button-hover:#4fa7e3;
@color-toolbar-button-active: #5699e3;
@color-toolbar-button-font:#FFF;
@color-toolbar-button-icon: #7c7c7c;
@color-input-focus:#66b0e8;
@color-input-focus-rgba:rgba(102,175,233,.6);
@color-input-border:#A0A0A0;
@color-selectBox-option-hover: #cce3b6;
@color-selectBox-option-selected: #ff9f4f;
