@color-focus:rgba(72,154,240,0.9);
@color-font:#666;
@color-background: rgba(227,227,227,0.8);
@color-font-blue:#4fa7e3;

@color-tree-border:rgba(200,200,200,0.6);
@color-tree-content-bg: rgba(200,200,200,0.8);
@color-tree-content-border:rgba(200,200,200,0.6);
@color-tree-content-hover:@color-focus;
@color-tree-content-selected:@color-focus;

@color-pager-nav:#8590a0;
@color-pager-border:#c5c5c5;
@color-pager-selected: #489ae3;
@color-pager-selected-border: #ebebeb;

@color-grid-border: #c5c5c5;
@color-grid-row-hover: @color-focus;
@color-grid-row-click: @color-focus;
@color-grid-row-selected:lighten(@color-focus,20%);
@color-grid-font:@color-font;

@color-treegrid-file-icon:#858585;

@color-button-border:#c5c5c5;
@color-button-hover:#575757;
@color-button-icon: #535dff;

@color-toolbar-button-hover:#4fa7e3;
@color-toolbar-button-active: #5699e3;
@color-toolbar-button-font:#FFF;
@color-toolbar-button-icon: #7c7c7c;
@color-toolbar-border: #c5c5c5;

@color-input-focus:#66b0e8;
@color-input-focus-rgba:rgba(102,175,233,.6);
@color-input-border:#A0A0A0;

@color-selectBox-option-hover: #cce3b6;
@color-selectBox-option-selected: @color-focus;

@color-window-border:#c5c5c5;
@color-window-font:@color-font;
@color-window-button-hover:@color-button-hover;
@color-window-button-icon:@color-button-icon;
