@color-background: #e3e3e3;
@color-font:#666;
@color-border: #c5c5c5;
@color-pager-nav:#8590a0;
@color-pager-selected:#4fa7e3;
@color-row-hover: #52c6f8;
@color-row-click: #57e3c9;
@color-line-file-icon: #858585;
