@import "lib";
@import "theme-default";

.tree{
    color:@color-font;
    border:1px solid @color-border;
    .title,.toolbar,.tree-view{
        .gradient-background(lighten(@color-background,3%),@color-background);
    }
    .title{
        padding-left:4px;
        font-size: 1.2em;
        font-weight: bold;
        height:30px;
        line-height:30px;
        border-bottom:1px solid @color-border;
    }
    .tree-view{
        overflow: auto;
        background: #fff;
    }
    ul.tree-body{
        color:@color-font;
        background-color: #fff;
        position: relative;
        margin:0;
        li{
            line-height: 24px;
            .li-content{
                padding:3px 4px;
                border-bottom:1px solid @color-border;
                height:24px;
                line-height: 24px;
                vertical-align: top;
                &:hover{
                    background:@color-row-hover;
                    .icon{
                        color:lighten(@color-line-file-icon,50%);
                    }
                }
                &.selected{
                    background: @color-row-click;
                }
                .icon{
                    display:inline-block;
                    height:24px;
                    line-height: 24px;
                    vertical-align: top;
                    width:12px;
                    margin-right:5px;
                    &:hover{
                        cursor:pointer;
                    }
                }
            }
            input{
                vertical-align:middle;
            }
        }
    }
}