@import "lib.less";
@import "theme-default.less";

.grid {
    color:@color-grid-font;
    border:1px solid @color-grid-border;
    background:@color-grid-bg;
    .title{
        padding-left:4px;
        font-size: 1.2em;
        height:30px;
        line-height:30px;
        border-bottom:1px solid @color-grid-border;
        .gradient-background(lighten(@color-grid-title-bg,5%),@color-grid-title-bg);
    }
    table {
        width:100%;
        position: relative;
        margin: 0;
        border-collapse: separate;
        border-spacing: 0;
        empty-cells: show;
        border-width: 0;
        outline: 0;
        height:100%;
        display:table;
        table-layout:fixed;
        word-wrap:break-word;
        td{
            line-height: 24px;
            height: 24px;
            padding:3px 4px;
            border-right:1px solid lighten(@color-grid-border,5%);
            overflow: hidden;
            vertical-align: middle;
            text-overflow: ellipsis;
            .user-not-select;
            &.line-number{
                text-align:center;
            }

            &:last-child{
                border-right: none;
            }

            input{
                vertical-align:middle;
            }

            .td-content{
                display:inline-block;
                height:24px;
                line-height: 24px;
                width:100%;
                vertical-align: top;
            }
        }
    }
    .grid-view{
        overflow-x:hidden;
    }
    .grid-head{
        height:30px;
        border-bottom:1px solid @color-grid-border;
        .user-not-select;
        cursor:pointer;
        .grid-head-wrap{
            overflow:hidden;
        }
        td{
            position:relative;
            &.line-number{
                div{
                    &:before{
                        content:"#";
                    }
                }
                .empty{
                    display:inline-block;
                    width:13px;
                }
            }
            div{
                display:inline-block;
            }
            .drag-line{
                position:absolute;
                right:-5px;
                width:10px;
                height:24px;
                &:hover{
                    cursor:e-resize;
                }
            }
        }
    }
    .grid-body{
        position:relative;
        overflow:auto;
        table{
            height:auto;
        }
        tr{
            &:hover td{
                color:#FFF;
                background:@color-grid-row-hover;
            }
            &:nth-child(odd){
                background: #FFF;
            }
            &.selected td{
                color:#FFF;
                background:@color-grid-row-selected;
            }
        }
    }
    .loading{
        height:31px * 10;
        background-color:darken(@color-grid-bg,30%);
        .loadingIcon{
            color:@color-font;
            font-size:40px;
            width:40px;
            height:40px;
            line-height: 40px;
            margin-left:-20px;
            margin-top:-20px;
            position:absolute;
            top:50%;
            left:50%;
        }
    }
}