@import "lib.less";
@import "theme-default.less";

@input-group-width:260px;
@input-width:180px;
.input-group{
    display:inline-block;
    word-spacing:-1px;
    font-size: 0;
    -webkit-text-size-adjust:none;
    width:@input-group-width;
    margin:5px 0;
    vertical-align:top;
    position:relative;
    input,.input-btn,label{
        display:inline-block;
        font-size:14px;
        vertical-align:middle;
    }
    label{
        width:@input-group-width - @input-width - 5px;
        padding-right:5px;
        height:26px;
        line-height:26px;
        text-align: right;
        word-break: normal;
        white-space: nowrap;
    }

    .input{
        display:inline-block;
        background:@color-input-bg;
        padding:5px 8px;
        color: @color-input-font;
        width:@input-width - 8*2 - 1*2;
        line-height:14px;
        height:14px;
        border-radius: 3px;
        border:1px solid @color-input-border;
        font-size:14px;
    }

    input{
        .input;
        &:focus {
            border:1px solid @color-input-focus-border;
            outline:0;
            .box-shadow(0,0,6px,1px,@color-input-focus-border);
        }
    }

    .readonly{
        .input;
        vertical-align:middle;
        cursor:pointer;
    }
    .with-btn{
        border-bottom-right-radius:0;
        border-top-right-radius:0;
        border-right-style:none;
        width:@input-width - 8*2 - 1px - 20px;
        &:focus{
            border-right-style:none;
        }
    }
    .input-btn{
        border:1px solid @color-input-border;
        background:#fff;
        text-align:center;
        line-height:24px;
        height:24px;
        width:18px;
        border-bottom-right-radius:3px;
        border-top-right-radius:3px;
        cursor:pointer;
        &:hover{
            color:#fff;
            background-color:lighten(@color-input-border,10%);
        }
        &:active{
            color:#fff;
            background-color:@color-input-btn-active-bg;
        }
    }
    .input-warm{
        position: absolute;
        top:-34px;
        left: 85px;
        min-width: 140px;
        height: 24px;
        line-height: 24px;
        padding: 0 10px;
        border: @color-input-border;
        background: @color-input-warm;
        color: #fff;
        font-size: 12px;
        z-index:10002;
        .rounded-corners(3px);
        &:before{
            content:" ";
            display:inline-block;
            position:absolute;
            top:24px;
            left:5px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid @color-input-warm;
        }
    }
}