@import "lib.less";
@import "theme-default.less";

@selectBox-width:180px;
.selectBox-group{
    display:inline-block;
    word-spacing:-1px;
    font-size: 0;
    -webkit-text-size-adjust:none;
    position:relative;
    vertical-align:middle;
    height:30px;
    line-height:30px;
}
.options{
    background:#F2F2F2;
    position:absolute;
    z-index:@zIndex-selectBox-option;
    font-size:12px;
    width:@selectBox-width - 2px;
    border:1px solid @color-input-border;
    max-height:300px;
    padding:0 4px;
    overflow:auto;
    overflow-x:hidden;
    .rounded-corners(3px);
    .box-shadow(0,2px,2px,0,#CCC);
    .user-not-select;
    li{
        display:inline-block;
        margin:3px 0;
        width:100%;
        .rounded-corners(3px);
        height:26px;
        line-height:26px;
        text-align:center;
        &:hover{
            background:@color-selectBox-option-hover;
        }
    }
    li.selected{
        background:@color-selectBox-option-selected;
        color:#fff;
    }
}