@import "lib.less";
@import "theme-default.less";

.timeBox {
    border: 1px solid @color-timeinput-timebox-border;
    background:@color-timeinput-timebox-title-bg;
    border-radius: 0 0 5px 5px;
    .box-shadow(0,2px,2px,0,#CCC);
    position: absolute;
    left: 80px;
    z-index: 20004;
    width: 280px;
    display: none;
    .titleBar {
        top:0;
        left:0;
        height:25px;
        width:100%;
        font-size: 13px;
        text-align: center;
        font-weight: 600;
    }

    .yearSelecter {
        height: 16px;
        width: 120px;
        line-height: 14px;
        font-size: 12px;
        position: relative;
        left: 0;
        top: 5px;
    }
    .yearButton{
        font-size:12px;
        width:12px;
        height:12px;
        padding:2px;
        margin:0 5px;
        .rounded-corners(8px);
        color:@color-timeinput-timebox-icon;
        cursor:pointer;
        &:hover{
            color:#FFF;
            background:@color-timeinput-timebox-icon-hover;
        }
    }
    input{
        text-align:center;
    }
    .input-group-btn .btn{
        margin-bottom:0;
    }
    .monthSelect {
        position: absolute;
        top: 3px;
        right: 40px;
        width: 50px;
        height: 20px;
        border: 1px solid @color-timeinput-timebox-border;
        .rounded-corners(2px);
        line-height: 20px;
        cursor: pointer;
    }

    .dateMouseover {
        background: -webkit-linear-gradient(top, #eee, #fff 70%) !important;
        background: -moz-linear-gradient(top, #eee, #fff 70%) !important;
        background: -o-linear-gradient(top, #eee, #fff 70%) !important;
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#eeeeee', EndColorStr='#ffffff');
        border-top: 1px solid rgba(255, 255, 255, 0.8);
        padding-top: 0 !important;
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
        color: red !important;
        font-weight: 400;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0) !important;
    }
    .year {
        //display:inline-block;
        //width:30px;
    }
    & > table {
        //background:@color-timeinput-timebox-bg;
        width: 100%;
        font-size: 12px;
        //border-top:1px solid @color-border;
        //border-bottom:1px solid @color-border;
        -moz-user-select: none;
        user-select: none;
        tr{
            height: 30px;
            &>td:hover{
                .day-content{
                    background:@color-timeinput-timebox-day-hover;
                    background-clip: content-box;
                    font-size:14px;
                    color:#fff;
                }
            }
        }
        th{
            cursor: default;
        }
        td{
            cursor: pointer;
            text-align: center;
            vertical-align: middle;
            .day-content{
                width:28px;
                height:28px;
                line-height:28px;
                text-align:center;
                .rounded-corners(14px);
            }
        }
    }

    & > table td.choosed {
        .day-content{
            color:#fff;
            background-color:@color-timeinput-timebox-day-selected;
            background-clip: content-box;
        }

    }
    .HMSBar {
        height: 35px;
        width: 100%;
        text-align: right;
        font-size: 12px;
        .col-sm-4{
            padding-left:5px;
            padding-right:5px;
            &:first-child{
                padding-left:15px;
            }
            &:last-child{
                padding-right:15px;
            }
        }
        .input-group-addon{
            padding-left:2px;
            padding-right:2px;
        }
    }
}
.input-group .input-group-btn{
    padding:0 3px;
}
