@import "lib.less";
@import "theme-default.less";

.grid{
    color:@color-grid-font;
    position:relative;
    overflow:hidden;
    .title{
        padding-left:4px;
        font-size: 1.2em;
        height:30px;
        line-height:30px;
        border-bottom:1px solid @color-grid-border;
        background:@color-grid-title-bg;
    }
    table {
        width:100%;
        position: relative;
        margin: 0;
        border-width:0;
        display:table;
        table-layout:fixed;
        tr{
            td{
                height:40px;
                padding:2px 4px;
                overflow: hidden;
                white-space: nowrap;
                vertical-align: middle;
                text-overflow: ellipsis;
                &:first-child{
                    border-left-width:0;
                }

                &.line-number{
                    text-align:center;
                }

                &:last-child{
                    border-right: none;
                }

                input{
                    vertical-align:middle;
                }
                .td-content{
                    position:relative;
                    display:inline-block;
                    width:100%;
                    vertical-align: top;
                    .filter-icon{
                        position:absolute;
                        right:5px;
                        top:50%;
                        margin-top:-6px;
                        color:#888;
                        &:hover{
                            color:#000;
                        }
                    }
                }
            }
        }
    }
    .grid-view{
        border-top:1px solid #ddd;
        border-bottom:1px solid #ddd;
        overflow-x:hidden;
    }
    .grid-head{
        cursor:pointer;
        background:#fff;
        .user-not-select;
        .grid-head-wrap{
            overflow:hidden;
        }
        td{
            border-top:0;
            border-bottom:0;
            &.line-number{
                div{
                    &:before{
                        content:"#";
                    }
                }
                .empty{
                    display:inline-block;
                    width:13px;
                }
            }
            div{
                display:inline-block;
            }
            .drag-line{
                position:absolute;
                right:-5px;
                width:10px;
                height:24px;
                &:hover{
                    cursor:e-resize;
                }
            }
        }
    }
    .grid-body{
        position:relative;
        overflow:auto;
        table{
            height:auto;
        }
        tr{
            &:first-child{
                td{
                    border-top:none;
                }
            }
            &.selected td{
                color:#FFF;
                background:@color-grid-row-selected;
            }
        }
    }
    .loading{
        height:31px * 10;
        background-color:darken(@color-grid-bg,20%);
        .loadingIcon{
            color:@color-font;
            font-size:40px;
            width:40px;
            height:40px;
            line-height: 40px;
            margin-left:-20px;
            margin-top:-20px;
            position:absolute;
            top:50%;
            left:50%;
        }
    }
    .grid-filter{
        background:#fff;
        display:none;
        position:absolute;
        border:1px solid @color-grid-border;
        .rounded-corners(3px);
        padding:5px;
        min-width:100px;
        z-index:99999;
        margin-left:-110px;
        margin-top:20px;
        li{
            margin-bottom:5px;
            height:20px;
            line-height:20px;
            &.footer{
                height:35px;
                line-height:35px;
                text-align:center;
            }
        }
    }
    .panel-footer{
        padding:5px;
        text-align:right;
    }
}
