@import "lib.less";
@import "theme-default.less";
.time-input-group.input-group{
    .form-control{
        padding-right:0;
    }
    .input-group-btn{
        background:#fff;
        .btn{
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
    }
}
.time-box {
    border: 1px solid @color-timeinput-timebox-border;
    .box-shadow(0,2px,4px,1px,rgba(230,220,230,0.8));
    background:#fff;
    border-radius: 0 0 5px 5px;
    position: absolute;
    left: 80px;
    z-index: 20004;
    width: 260px;
    display: none;
    padding-top:5px;
    font-size:12px;
    .form-inline{
        padding-left:5px;
        padding-right:5px;
    }
    .year-box{
        width:40%;
        font-size: 12px;
    }
    input,select{
        text-align:center;
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
    .input-group-btn .btn{
        margin-bottom:0;
    }
    .month-box{
		display:inline-block;
        width:58%;
		vertical-align: top;
		text-align:right;
        .cri-select{
			height:30px;
            padding:0;
			border-radius:0;
			min-width:50px;
        }
    }

    table {
        width: 100%;
        font-size: 12px;
        -moz-user-select: none;
        user-select: none;
        tr{
            height:20px;
			td{
				cursor: pointer;
				text-align: center;
				vertical-align: middle;
				.day-content{
					font-size:12px;
					width:20px;
					height:20px;
					line-height:20px;
					text-align:center;
					.rounded-corners(10px);
				}
				&:hover{
					.day-content{
						background:@color-timeinput-timebox-day-hover;
						background-clip: content-box;
						color:#fff;
					}
				}
				&.active{
					.day-content{
						color:#fff;
						background-color:@color-timeinput-timebox-day-selected;
						background-clip: content-box;
					}
				}
			}
		}
        th{
            cursor: default;
        }
    }

    .hms-bar {
		.col-sm-4{
			padding:0;
		}
		.form-group.form-group-sm{
			margin-left:0;
			margin-right:0;
			margin-top:0;
		}
        .form-group{
            display:inline-block;
            font-size:12px;
			.col-sm-8{
				width:100%;
				padding:0;
			}
            .input-group{
                width:100%;
                padding-right:5px;
                padding-left:0;
                .input-group-addon{
                    padding-left:2px;
                    padding-right:2px;
                    height:30px;
                    font-size:12px;
                    width:20px;
                }
                .form-control{
                    height:30px;
                    padding:0;
					&.cri-number-input__input{
						//border:1px solid #F2F2F2;
						border-bottom-right-radius: 3px;
						border-top-right-radius: 3px;
					}
                }
                .input-group-btn.btn-group-vertical{
                    height:30px;
                    .top,.bottom{
                        height:15px;
                        width:20px;
                        padding:0;
                    }
                }
				.input-group-btn{
					padding:0 2px;
					//font-size:12px;
				}
            }
            &:last-child{
                &.input-group{
                    padding-right:0;
                }
            }
        }
    }
}
.cri-time-box-input-group{
	display:inline-block;
	position: relative;
	width:100px;
	.cri-time-box-input-group__input{
		padding : 5px 30px;
		height : 30px;
		outline: none;
		-webkit-appearance: none;
		box-shadow: none;
		border: 1px solid #8b8b8b;
		width:100%;
	}
	.cri-time-box-input-group__btn{
		height:30px;
		width:24px;
		padding:5px;
		position: absolute;
		background:#8b8b8b;
		color:#fff;
		text-align:center;
		cursor:pointer;
	}
	.cri-time-box-input-group__btn:first-child{
		top:0;
		left:0;
	}
	.cri-time-box-input-group__btn:last-child{
		top:0;
		right:0;
	}
}
