@import "lib.less";
@import "theme-default.less";
.toolbar {
    padding: 5px;
    margin-left: 0;
    .btn{
        min-width:60px;
        margin-left:0;
        margin-right:5px;
        i{
            margin-right:5px;
        }
    }
}
